---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="flex flex-col gap-y-1 m-8">
	<h1 class="mx-auto font-bold text-xl">Tyler Tocket</h1>
	<div class="mx-auto flex gap-x-4">
		<p>Fort Myers, FL</p>
		<span>|</span>
		<p><href>tyler@velocityforgelabs.com</href></p>
		<span>|</span>
		<p><href>linkedin.com/in/tyler-tocket</href></p>
	</div>
	</section>
</Layout>