---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Tyler Tocket</title>
	</head>
	<body class="font-serif flex flex-col gap-y-8 p-8 mx-auto max-w-4xl">
		<slot />
	</body>
</html>